*.csproj
*.sln
.DS_Store
.idea

/builds/*
/images/*
/Shot-*.png

/Assets/GaussianAssets/*
/Assets/GaussianAssets.meta
/Assets/Models~/*
/Library/*
/Logs/*
/Temp/*
/UserSettings/*
/obj/*

/VR-URP/Assets/GaussianAssets/*
/VR-URP/Assets/GaussianAssets.meta
/VR-URP/Assets/Models~/*
/VR-URP/Library/*
/VR-URP/Logs/*
/VR-URP/Temp/*
/VR-URP/UserSettings/*
/VR-URP/obj/*
/VR-URP/Build/**
/VR-URP/.vs/**
*.ply